<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>Designed and Illustrated by
          <a href="mailto:{{ site.designer_email }}" class="underline">{{ site.designer }}</a>
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <a class="icon" href="#"><i class="fa fa-facebook"></i></a>
        <a class="icon" href="#"><i class="icon-fish-motif"></i></a>
        <a class="icon" href="#"><i class="fa fa-twitter"></i></a>
      </div>

      <div class="footer-col  footer-col-3">
        <p>Built and developed by
          <a href="mailto:{{ site.developer_email }}" class="underline">{{ site.developer }}</a>
        </p>
      </div>
    </div>

  </div>

</footer>
