<section class="home-screen full">
  <div class="bg-colour-block">
    <div class="wrapper">

      <div class="fish-motif">
        <img src="images/fish-motif.png">
      </div>

      <div class="home-description">
        <p>
          An illustration project about the unseen curiosities of Poole
        </p>
      </div>
    </div>
  </div>

  <div class="section-buttons">
    <a class="map-button" href="#">
      <i class="icon-map"></i>
      <div class="button-bg"></div>
    </a>

    <a class="info-button" href="#">
      <i class="icon-info"></i>
      <div class="button-bg"></div>
    </a>

    <a class="down-button" href="#">
      <i class="icon-down-chevron"></i>
      <div class="button-bg"></div>
    </a>
  </div>
</section>