<!-- <div class="st-menu st-effect-1 st-menu__left" id="st-menu-left">

  <div class="st-menu-container" id="menu-1">
    <div class="st-inner">
      <h2 class="">Curious Poole</h2>
      <p>This is a welcome introduction to the project and will be fairly short. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>

  <div class="st-menu-container" id="menu-2">
    <div class="st-inner">
      <h2 class="">Curious Poole</h2>
      <p>This is a welcome introduction to the project and will be fairly short. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>

</div>

<div class="st-menu st-effect-2 st-menu__right" id="st-menu-right">

  <div id="map-canvas"></div>
  <div id="map-canvas-2"></div>
  <div id="map-canvas-3"></div>

</div> -->