*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content,
.st-content-inner {
  height: 100%;
}

.st-content {
  //overflow-y: scroll;
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

// .st-menu-open .st-menu::after {
//   width: 0;
//   height: 0;
//   opacity: 0;
//   -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
//   transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
// }

.st-menu-open--left {
  #st-menu-left {
    transform: translate3d(0, 0, 0);
  }
}

.st-menu-open--right {
  #st-menu-right{
    transform: translate3d(0, 0, 0);
  }
}

.st-menu-container {
  top: 0; left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #05485E;
}

.st-menu {
  .st-menu-container {
    display: none;
    &:first-of-type{
      display: block;
    }
  }
}

/* content style */

.st-menu#menu-1 {
  background: $background-color;
}

.st-inner {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;

  h2 {
    font-size: 45px;
  }

  @include mq(tablet) {
    width:75%;
  }

  @include mq(desktop) {
    width:45%;
  }
}

#map-canvas {
  height: 100%;
  width: 100%;
}

/* Individual effects */

/* Effect 1: Slide in on from left */
.st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
  display: none;
}

/* Effect 1: Slide in on from right */

.st-effect-2.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-2.st-menu::after {
  display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
  padding-left: 300px;
}
