// Universal styling ----------------------------------
.button {

  .button-bg {
    position: relative;
    opacity: 0.3;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s ease all;
  }

  i {
    position: absolute;
    z-index: 500;
    font-size: 28px;
    color: white;
    transition: .3s ease all;
  }
}

// Off Canvas Buttons Buttons -------------------

.off-canvas-buttons {
    position: absolute;
    height: 100%;
    z-index: 1000;

  // Info button ----------------------------------

  .info-button {
    position: fixed;
    top: 50%; left: 30px;

    i {
      left: 19px; top: 11px;
    }

    &:hover {
      .button-bg {
        opacity: 1;
      } // .button-bg
      
      i {
        color: $icon-color;
      } // i
    } // &:hover
  } // .info-button

  // Map button ----------------------------------

  .map-button  {
    position: fixed;
    top: 50%; right: 30px; 

    i {
      left: 13px; top: 12px;
    }

    &:hover {
      .button-bg {
        opacity: 1;
      }
      
      i {
        color: $icon-color;
      } // i
    } // &:hover
  } // .info-button
} // .off-canvas-buttons

// Sections up button ----------------------------------

.up-button {
  position: absolute;
  top: 30px; left: 30px;

  &:hover {
    i {
      opacity: 0.5;
    } // i
  } // &:hover
}// .up-button

// Home down button ----------------------------------

.down-button  {
  position: absolute;
  bottom: 30px; left: 50%;
  margin-left: -25px;

  i {
    font-size: 13px;
    left: 13px; top: 21px;
  } // i

  &:hover {
    .button-bg {
      opacity: 1;
    }
    
    i {
      color: $icon-color;
    } // i
  } // &:hover
} // .down-button

