// Full height ------------------------------------------

.full {
  height: 100%;
}

// Header ------------------------------------------

.site-header {
  position: absolute;
  width: 100%;
  z-index: 1000;  
  background-color: $header-color;
  padding: 15px 0 15px 0;
}

.site-nav {
  text-align: center;

  .icon {
    &:not(:last-child) {
        margin-right: 200px;
    }
  }

  @include mq(mobile) {
    .icon {
      &:not(:last-child) {
          margin-right: 30%;
      }
    }
  }
}

// Page Content ------------------------------------------

.page-content {
  // padding: $spacing-unit 0;
  overflow: hidden;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Home Screen ------------------------------------------

.home-screen {
  position: relative;

  .bg-colour-block {
    position: absolute;
    height: 46%;
    width: 100%;
    background-color: #05485e;

    .fish-motif {
      width: 80%;
      padding-top: 85px;
      margin: 0 auto;

      @include mq(tablet) {
        width: 400px;
        padding-top: 120px;
      }

      @include mq(wide) {
        width: 450px;
      }
    }

    .home-description {
      width: 80%;
      padding-top: 30px;
      text-align: center;
      margin: 0 auto;
      
      h2 {
        font-size: 16px;
        line-height: 1.5;
      }

      @include mq(tablet) {
        width: 350px;
        padding-top: 50px;

        h2 {
          font-size: 18px;
        }
      }
    }  
  }
}

// Sections 1 ------------------------------------------

.section-1 {
  position: relative;
  background-color: $section-1-bg;
  overflow: hidden;
}

.illustration {
  position: absolute;
  z-index: 250;
  width: 80%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  @include mq(desktop) {
    width: 800px;
  }
}

.caption {
  text-align: center;
  position: absolute;
  bottom: 0; left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    margin: 0; 
  }
}

// Footer -----------------------------------------------

.site-footer {
  font-family: $secondary-font-family;
  text-align: center;
  background-color: $footer-color;
  padding: $spacing-unit 0;

  .underline {
    padding-bottom: 2px;
    border-bottom: 1px solid white;

    &:hover {
      opacity: 0.5;
    }
  }
}

.footer-col-wrapper {
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  width: 100%;
  font-size: 13.5px;
}

.footer-col-2 {
  margin-bottom: 30px;

  p {
    a {
      &:hover {
        opacity: 1;
      } // &:hover
    } // a
  } // p

  .icon {
    &:not(:last-child) {
        margin-right: 50px;
    }

    i {
      color: #43484a;

      &:hover {
        // color: #168b9c;        
        color: white;
      } // &:hover
    } // .i
  } // .icon
} // .footer-col-2


@include mq(tablet) {
  .footer-col {
    font-size: 16px;
    display: inline-block;
    padding-left: $spacing-unit / 2;
    p {
      margin-bottom: 0;      
    }
  } // .footer-col

  .footer-col-1 {
    float: left;
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
  } // .footer-col-1

  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
    padding-top: 10px;
    margin-bottom: 0;

    .icon {
      &:not(:last-child) {
        margin-right: 85px;
    } // not last child
   } // .icon
  } // .footer-col-2

  .footer-col-3 {
    float: right;
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
  } // .footer-col-3
} // from tablet


// Posts ------------------------------------------

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include mq(desktop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include mq(desktop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include mq(desktop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include mq(desktop) {
      font-size: 18px;
    }
  }
}
