// Full height ------------------------------------------

.full {
  height: 100%;
}

// Header ------------------------------------------

.site-header {
  position: absolute;
  width: 100%;
  z-index: 100;  
  background-color: $header-color;
  padding: 15px 0 15px 0;
}

.site-nav {
  text-align: center;

  .icon {
    &:not(:last-child) {
        margin-right: 200px;
    }
  }

  @include media-query($on-palm) {
    .icon {
      &:not(:last-child) {
          margin-right: 30%;
      }
    }
  }
}

// Page Content ------------------------------------------

.page-content {
  // padding: $spacing-unit 0;
  overflow: hidden;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Home Screen ------------------------------------------

.home-screen {
  position: relative;

  .bg-colour-block {
    position: absolute;
    height: 46%;
    width: 100%;
    background-color: #05485e;

    .fish-motif {
      padding-top: 120px;
      margin: 0 auto;
      width: 400px;

      @include media-query($on-palm) {
        width: 85%;
        padding-top: 85px;
      }
    }

    .home-description {
      padding-top: 50px;
      text-align: center;
      margin: 0 auto;
      width: 350px;

      p {
        font-size: 18px;
        line-height: 1.5;
      }

      @include media-query($on-palm) {
        width: 90%;
        padding-top: 30px;
      }
    }  
  }
}

// Sections ------------------------------------------

.sections {
  background-color: white;
}


// Footer -----------------------------------------------

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

// Posts ------------------------------------------

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
