<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="st-container" class="st-container">

      {% include off-canvas-panels.html %}

      <!-- this is the wrapper for the content -->
      <div class="st-content">

        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner">

          {% include header.html %}

          {{ content }}

          {% include footer.html %}

        </div> <!-- /st-content-inner -->

      </div> <!-- /st-content -->

    </div> <!-- /st-container -->

    <script>window.jQuery || document.write('<script src="{{ "/js/vendor/jquery-2.1.1.min.js" | prepend: site.baseurl }}"><\/script>')</script>
    <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
